{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cryptocurrency Rates</title>
    <link rel="stylesheet" type="text/css" href="{% static 'crypto_app/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'crypto_list' %}" class="nav-button">List</a>
            <a href="{% url 'crypto_convert' %}" class="nav-button">Converter</a>
        </nav>
    </header>
    <div class="container">
        <h1>Cryptocurrency Rates</h1>
        
        <form method="get">
            <label for="coin">Choose a cryptocurrency:</label>
            <select name="coin" id="coin">
                {% for coin in coins %}
                    <option value="{{ coin.id }}" {% if coin.id == selected_coin %}selected{% endif %}>{{ coin.name }}</option>
                {% endfor %}
            </select>
            <label for="days">Choose a time period:</label>
            <select name="days" id="days">
                <option value="7" {% if selected_days == '7' %}selected{% endif %}>7 days</option>
                <option value="30" {% if selected_days == '30' %}selected{% endif %}>30 days</option>
                <option value="90" {% if selected_days == '90' %}selected{% endif %}>90 days</option>
                <option value="180" {% if selected_days == '180' %}selected{% endif %}>180 days</option>
                <option value="365" {% if selected_days == '365' %}selected{% endif %}>1 year</option>
            </select>
            <button type="submit">Show chart</button>
        </form>
        
        <div id="chart">{{ plot_div|safe }}</div>
    </div>
</body>
</html>
