{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Rates</title>
    <link rel="stylesheet" type="text/css" href="{% static 'crypto_app/style.css' %}">
</head>
<body>
    <header>
      <nav>
        <a href="{% url 'crypto_convert' %}" class="nav-button">Converter</a>
        <a href="{% url 'crypto_chart' %}" class="nav-button">Charts</a>
      </nav>
    </header>
    <div class="container">
        <h1>Cryptocurrency Rates</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Current Price</th>
            </tr>
            {% for crypto in crypto_list %}
            <tr>
                <td>{{ crypto.name }}</td>
                <td>{{ crypto.symbol.upper }}</td>
                <td>{{ crypto.current_price }} PLN</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
